<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <script>
        $(function() {
            $('.toggle').on('click', function() {
                if ($('.item').hasClass('active')) {
                    $('.item').removeClass('active');
                } else {
                    $('.item').addClass('active');
                }
            });
        });
    </script>

</head>
<body>

    <nav>
        <ul class="menu">
            <li class="logo"><a href="/">Home</a></li>
            <li class="item"><a href="">About</a></li>
            <li class="item"><a href="">Services</a></li>
            <li class="item"><a href="message">Message</a></li>
            <li class="item button"><a href="">Login</a></li>
            <li class="item button secondary"><a href="register">Sign Up</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <h1>Melde Dich jetzt an</h1>

    <form action="/register" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.passwordcheck.label }}<br>
            {{ form.passwordcheck(size=32) }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>

    <p>oder <a href="/login">melde Dich an</a></p>

    {% if form.errors %}
        <div class="errors">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <li><a>{{ field.label }} - {{ error }}</a></li>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

</body>
</html>
